body {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-x: hidden;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

p,
h2 {
    margin: 0;
}

#foobar {
    display: none;
}

input {
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.containerone {
    width: 100%;
    height: 100%;
    background: #ffffff00;
    color: #fff;
}

.block {
    color: #fff;
}

.lead-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -350%);
    font-size: 50px;
    white-space: nowrap;
    animation-duration: 1s;
    animation-name: slideinOne;
}

.containerone__text {
    position: absolute;
    width: 1170px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-size: 16px;
    text-align: center;
    line-height: 1.8em;
    animation-duration: 1s;
    animation-name: slideinTwo;
}

.containerone__btn-calc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: #ff9c1c;
    padding: 15px 30px;
    border-radius: 8px;
    transition: all 300ms;
    animation-duration: 1s;
    animation-name: slideinThree;
}

.containerone__btn-calc:hover {
    transition: all 300ms;
    background: #b46600;
}

.header-text {
    text-align: center;
    font-size: 45px;
    margin: 0 0 40px 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgba(100, 100, 100, 0.4);
    background: #fff;
    color: #000;
}

.block-screen {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 25px;
}

.block-calc {
    width: 400px;
    margin-top: 25px;
}

.input-dop {
    display: block;
    border-radius: 5px;
    border: 1px solid rgb(165, 165, 165);
    background: rgba(255, 255, 255, 0);
    text-align: left;
    padding-left: 15px;
}

.text-cr {
    color: #808080;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.input-dop {
    width: 98%;
    font-size: 20px;
}

.input-dop::-webkit-outer-spin-button,
.input-dop::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.range-cr {
    width: 100%;
    margin: 15px 0 25px 0;
}

.block-screen_sum {
    width: 50%;
}

.percent {
    width: 50%;
    text-align: center;
}

.grey-text {
    color: #808080;
    margin-bottom: 10px;
}

.text {
    font-size: 30px;
}

.information {
    margin-bottom: 30px;
}

.percent-number {
    color: rgb(255, 166, 0);
    font-size: 80px;
    font-weight: normal;
    white-space: nowrap;
}

.block {
    height: fit-content;
    margin: 5% 0;
}

.opac {
    display: none;
}

.block-parent {
    margin-top: 40px;
}

.block-parent_textbtn {
    width: 50%;
}

.block-parent__opis {
    width: 60%;
    text-align: justify;
}

.textOpisanie {
    line-height: 1.5em;
}

.im {
    padding: 25px 30px;
    max-width: 1110px;
}

.block-parent__btn {
    width: 87%;
    padding: 15px 0;
    margin-top: 64px;
    font-family: 'Montserrat';
    border: none;
    background: #ff9c1c;
    color: #fff;
    border-radius: 10px;
}

.block-parent__btn:hover {
    transition: all 300ms;
    background: #d37800;
}

.block-parentOne {
    animation-name: slideinOne-two;
    animation-duration: 1s;
}

.inpAnime {
    animation-name: inputBack;
    animation-duration: 800ms;
}


















/* Анимации */

@keyframes slideinOne {
    from {
        left: 60%;
        opacity: 0;
    }
    to {
        left: 50%;
        opacity: 1;
    }
}

@keyframes slideinTwo {
    from {
        left: 60%;
        opacity: 0;
    }
    to {
        left: 50%;
        opacity: 1;
    }
}

@keyframes slideinThree {
    from {
        left: 60%;
        opacity: 0;
    }
    to {
        left: 50%;
        opacity: 1;
    }
}

@keyframes slideinOneEnd {
    from {
        left: 50%;
        opacity: 1;
    }
    to {
        left: 0%;
        opacity: 0;
    }
}

@keyframes slideinTwoEnd {
    from {
        left: 50%;
        opacity: 1;
    }
    to {
        left: 0%;
        opacity: 0;
    }
}

@keyframes slideinThreeEnd {
    from {
        left: 50%;
        opacity: 1;
    }
    to {
        left: 0%;
        opacity: 0;
    }
}

@keyframes slideinOne-two {
    from {
        transform: translate(100%, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes inputBack {
    0% {
        background: #fff;
        color: #000;
    }
    50% {
        background: #ab489d;
        color: #fff;
    }
    100% {
        background: #fff;
        color: #000;
    }
}


/* Задний фон */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.waveWrapper,
.waveAnimation {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    z-index: -1;
}

.opacv {
    opacity: 0;
}
/* Конец */

@media (max-width: 1200px) {
    body {
        overflow-y: scroll;
    }
    .container {
        max-width: 1000px;
    }
    .containerone__text {
        width: 950px;
    }
    .im {
        width: 944px;
    }
    .textName {
        width: 80%;
    }
}

@media (max-width: 992px) {
    body {
        overflow-y: scroll;
    }
    .container {
        max-width: 900px;
    }
    .containerone__text {
        width: 800px;
        transform: translate(-50%, -115%);
    }
    .percent {
        width: 31%;
    }
    .block-screen_sum {
        width: 40%;
    }
    .block-screen {
        justify-content: space-evenly;
        width: 460px;
    }
    .block-calc {
        padding-left: 20px;
    }
    .im {
        width: 840px;
    }
}

@media (max-width: 768px) {
    body {
        overflow-y: scroll;
    }
    .input-dop {
        width: 97%;
    }
    .container {
        max-width: 700px;
        display: block;
    }
    .containerone__text {
        width: 650px;
        line-height: 1.5em;
    }
    .lead-text {
        font-size: 45px;
    } 
    .block-screen {
        margin-left: auto;
        margin-right: auto;
    }
    .percent {
        width: 50%;
    }
    .block-screen_sum {
        width: 50%;
    }
    .block-screen {
        justify-content: space-evenly;
        width: 80%;
    }
    .block-calc {
        width: 80%;
        padding-top: 25px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-text {
        font-size: 35px;
    }
    .block-parent {
        display: none;
    }
}

@media (max-width: 576px) {
    body {
        overflow-y: scroll;
    }
    .input-dop {
        width: 95%;
        font-size: 20px;
    }
    .container {
        max-width: 500px;
        display: block;
    }
    .lead-text {
        font-size: 40px;
    }
    .mob-none {
        display: none;
    }
    .containerone__text {
        width: 510px;
        transform: translate(-50%, -120%);
        line-height: 1.5em;
    }
    .block-screen {
        margin-left: auto;
        margin-right: auto;
    }
    .percent {
        width: 50%;
    }
    .block-screen_sum {
        width: 50%;
    }
    .block-screen {
        justify-content: space-evenly;
        width: 80%;
    }
    .block-calc {
        width: 80%;
        padding-top: 25px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-text {
        font-size: 35px;
    }
}

@media (max-width: 320px) {
    body {
        overflow-y: scroll;
    }
    .input-dop {
        width: 92%;
        font-size: 20px;
    }
    .container {
        max-width: 300px;
        display: block;
    }
    .containerone__text {
        width: 250px;
        transform: translate(-50%, -100%);
    }
    .lead-text {
        font-size: 25px;
        transform: translate(-50%, -629%);
    }
    .header-text {
        font-size: 30px;
    }
    .block-screen {
        display: block;
    }
    .block-screen_sum {
        width: 100%;
    }
    .grey-text {
        text-align: left;
    }
    .block-calc {
        padding-left: 0;
    }
    .block-screen {
        padding-bottom: 25px;
    }
}

